body {
    background: url("https://images.immediate.co.uk/production/volatile/sites/3/2018/06/wimbledon-2018-f0fe9f4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: Lobster;
    float: right;
    background-color: blueviolet;
}

.ratings {
    color: white;
    font-family: avenir;
    font-size: 18px;
}

h1 {
    color: white;
    font-size: 45px;
}

.btn-primary {
    margin-left: 10px;
    background: white;
    color: blue;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color: red;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color: white;
    font-family: Lobster;
    background-color: blueviolet;
}

#add-athlete {
color: blue;
background-color: white;
}